nav {
    background-color: #e95420;
    margin-bottom: 15px;
}

.container {
    height: 100%;
}

.row-top {
    height: 50%;
}

.row-bottom {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.day-info {
    display: inline-block
    
}